.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
}

.main {
  display: flex;
}

.container {
  margin: auto;
  font-size: 1.5rem;
  width: 100%;
  max-width: 1280px;
}
