.container {
  width: 640px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
}

.ingridients {
  max-height: 275px;
  box-sizing: border-box;
  overflow-y: auto;
}

.ingridient {
  display: grid;
  grid-template-columns: min-content 1fr max-content min-content;
  align-items: center;
  gap: 16px;
}

.image {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 2px #4c4cff solid;
  object-fit: cover;
}

.name {
  max-height: 100px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.number {
  text-align: center;
}

.state {
  color: var(--interface-success, #0cc);
}

.details {
  display: grid;
  grid-template-columns: 1fr max-content min-content;
  align-items: center;
}
