.ingredients {
  max-width: 600px;
  width: calc(50% - 40px);
}

.navigation {
  display: flex;
}

.container {
  width: 100%;
  height: calc(100vh - 324px);
  overflow: auto;
  position: relative;
}

.division {
  display: grid;
  grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  width: 100%;
  gap: 32px 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
